<main class="main">
  <div>
    {{user | json}}
        <div style="margin-bottom: 20px">
            <input [(ngModel)]="user.name" placeholder="Name" [value]="user.name">
            <input [(ngModel)]="user.age" placeholder="Age" [value]="user.age">
            <input [(ngModel)]="user.nationality" placeholder="Nationality" [value]="user.nationality">
            <button (click)="handleAddData()">Add</button>
            <button (click)="handleUpdateData()">Save</button>
        </div>
        <!-- <table>
            <thead>
            <tr>
                <th>name</th>
                <th>age</th>
                <th>nationality</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let items of listData; index as i">
                <td>{{items['name']}}</td>
                <td>{{items['age']}}</td>
                <td>{{items['nationality']}}</td>
                <td>
                    <button (click)="handdleEdit(items)">Edit</button>
                    <button (click)="handleDeleteData(items)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table> -->
    <p-table [value]="listData" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Nationality</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.nationality }}</td>
          <td>
            <p-button (click)="handdleEdit(data)">Edit</p-button>
            <p-button (click)="handleDeleteData(data)">Delete</p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
<router-outlet />
